@CHARSET "UTF-8";
.post-modal{
	width:70%;
}
.tab-pane .panel-body{
	border:none;
	height: 400px;
	overflow: auto;
	overflow-x: hidden;
}
.panel-body .components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-y: auto;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width:100%;
}
.components .component {
    float: left;
    width: 22%;
    height: 150px;
    text-align: center;
    margin: 0 17px 10px 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.components .component .component-img{
	width: 100%;
    height: 100%;
    position: relative;
    vertical-align: middle;
}

.components .component .component-name{
	position: absolute;
    width: 100%;
    height: 25px;
    background: rgba(67,67,67,.7);
    color: #fff;
    font-weight: 400;
    bottom: 0;
    line-height: 25px;
}

.select-component {
    border: 4px solid #69d0d1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(105,208,209,.6);
}

.site-component .label{
	font-weight: 400;
}

.panel-body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px #676a6c;
	background-color: #F5F5F5;
}

.panel-body::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

.panel-body::-webkit-scrollbar-thumb{
	background-color: #969798;
}

body.skin-1 {
    background: #eee;
}

.ibox-content {
    padding: 15px 5px 15px 5px;
}

.skin-1 .nav > li > a {
    color: #000;
}

style.css:40
.nav > li > a {
    color: #000;
    font-weight: 400;
    padding: 14px 20px 14px 25px;
}

.ibox {
    clear: both;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}

.ibox .header-content{
	padding: 10px 0px 10px 0px;
}

.inmodal .modal-body {
    background: #ffffff;
}
.inmodal .modal-header {
    padding: 15px;
}
.swal2-container.swal2-shown {
    z-index: 9999;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 320px;
    min-height: 1200px;
  }
  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 320px;
  }
}
@media (max-width: 768px) {
  .fixed-sidebar.body-small .navbar-static-side {
    display: none;
    z-index: 2001;
    position: fixed;
    width: 320px;
  }
}


