<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body style="background-color:white">
<div id="base">
    <div id="icon">
        <img height="230" id = "icon1" src="/static/shadow/1.png" style="position:absolute; left:3%; top:3%;" width="250"/>
        <img height="230" id = "icon2" src="/static/shadow/2.png" style="position:absolute; left:25%; top:2%;" width="169"/>
        <img height="230" id = "icon3" src="/static/shadow/3.png" style="position:absolute; left:43%; top:3%;" width="162"/>
        <img height="230" id = "icon4" src="/static/shadow/4.png" style="position:absolute; left:63%; top:3%;" width="157"/>
        <img height="230" id = "icon5" src="/static/shadow/5.png" style="position:absolute; left:83%; top:3%;" width="77"/>
        <img height="230" id = "icon6" src="/static/shadow/6.png" style="position:absolute; left:3%; top:55%;" width="161"/>
        <img height="230" id = "icon7" src="/static/shadow/7.png" style="position:absolute; left:25%; top:55%;" width="179"/>
        <img height="230" id = "icon8" src="/static/shadow/8.png" style="position:absolute; left:43%; top:55%;" width="218"/>
        <img height="230" id = "icon9" src="/static/shadow/9.png" style="position:absolute; left:63%; top:55%;" width="407"/>
    </div>

    <div id="question" style="position:absolute; left:50%; top:50%;font-size:50px;margin-top: -150px;margin-left: -350px;color:#f45a8d">
        <h1>
            Who are they?
        </h1>
    </div>

    <div id="continue" style="position:absolute; left:100%; top:111%;font-size:20px;margin-top: -150px;margin-left: -350px;color:#f45a8d">
        <h1>
            To be continued
        </h1>
    </div>

</div>

</body>
<script type="text/javascript">
    var img1 = document.getElementById("icon1");
    img1.style.display = "none";
    setTimeout(function() {img1.style.display = "inline";},1000);

    var img2 = document.getElementById("icon2");
    img2.style.display = "none";
    setTimeout(function() {img2.style.display = "inline";},1300);

    var img3 = document.getElementById("icon3");
    img3.style.display = "none";
    setTimeout(function() {img3.style.display = "inline";},1600);

    var img4 = document.getElementById("icon4");
    img4.style.display = "none";
    setTimeout(function() {img4.style.display = "inline";},1900);

    var img5 = document.getElementById("icon5");
    img5.style.display = "none";
    setTimeout(function() {img5.style.display = "inline";},2100);

    var img6 = document.getElementById("icon6");
    img6.style.display = "none";
    setTimeout(function() {img6.style.display = "inline";},2400);

    var img7 = document.getElementById("icon7");
    img7.style.display = "none";
    setTimeout(function() {img7.style.display = "inline";},2700);

    var img8 = document.getElementById("icon8");
    img8.style.display = "none";
    setTimeout(function() {img8.style.display = "inline";},3000);

    var img9 = document.getElementById("icon9");
    img9.style.display = "none";
    setTimeout(function() {img9.style.display = "inline";},3300);

    var q = document.getElementById("question");
    q.style.display = "none";
    setTimeout(function() {q.style.display = "inline";},3600);
</script>
</html>