<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>open</title>
</head>
<body style="background-color:#f45a8d;">
<div id="base">
     <div id="question" style="position:absolute; left:57%; top:20%;font-size:35px;margin-top: -150px;margin-left: -350px;color:#f45a8d;z-index: 999">
        <h1>
            Who are you?
        </h1>
    </div>
    <img border="4" id = "b" src="/static/shadow/b.png" style="position:absolute; left:20%; top:3%;border-radius: 10px;border-color: antiquewhite"/>
    </div>
<form action="/upload-image/" enctype="multipart/form-data" id="upload-image" method="post">
    {% csrf_token %}
    <div id="pic">
        <input style="position:absolute; left:35%; top:25%;border-radius: 15px / 30%;background-color:white;font-size: 20px;color:gray" type="file" name="images">
        <img border="9" height="239" id = "tv" src="/static/shadow/tv.gif" style="position:absolute; left:37%; top:36%;border-radius: 15px;border-color: antiquewhite" width="300"/>
        <input border="3" style="position:absolute; left:47%; top:85%;border-radius: 15px / 30%;border-color: antiquewhite;background-color:white;font-size: 20px;color:gray" type="submit">

    </div>
</form>


</body>
</html>