<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>open</title>
</head>
<body>
<div id="base">
     <div id="question" style="position:absolute; left:57%; top:20%;font-size:35px;margin-top: -150px;margin-left: -350px;color:#f45a8d;z-index: 999">
        <h1>
            Who are you?
        </h1>
    </div>
    <img id = "b" src="/static/shadow/b.png" style="position:absolute; left:20%; top:3%;"/>
    <button style="position:absolute; left:45%; top:25%;border-radius: 15px / 30%;background-color:white;font-size: 20px;color:gray" type="button">打开图片</button>

    <button style="position:absolute; left:45%; top:85%;border-radius: 15px / 30%;background-color:white;font-size: 20px;color:gray" type="button">预测人物</button>

    <img id = "tv" src="/static/shadow/tv.gif" style="position:absolute; left:20%; top:33%;"/>


</div>

</body>
</html>