.listBox ul li a{
    color: #262626;
}

.listBox ul li a:hover{
    color: #043c7e;;
}

.listBox ul li{
    line-height: 45px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.listBox ul li .time{
    float: right;
    padding: 0 8px;
}