body {
	background-color: #f0f2f5;
}
/*右侧弹出sidebar*/
.right-sidebar {
	z-index:2;
	position: fixed;
	right: -425px;
	top: 70px;
	width: 370px;
	height: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	background-color: #fff;
	box-shadow:12px 7px 26px 13px rgba(0,0,0,0.19);
}
.mb-content{
	z-index:1;
}
.right-sidebar .til {
	padding: 20px 0;
	border-bottom: 2px solid #E6E6E6;
	font-size: 18px;
	color: #9C9C9C;
}
.right-sidebar .til i {
	margin-right: 5px;
}
.right-sidebar table {
	display: inline-block;
	box-sizing: border-box;
	padding: 5% 2%;
}
.right-sidebar table td {
	padding: 15px 4px;
	font-size: 14px;
	color: #949494;
}
.right-sidebar table td.td_l {
	min-width: 70px;
}
.right-sidebar table td input[type="text"] {
	width: 100%;
	border: 1px solid #DBDBDB;
	box-sizing: border-box;
}
.right-sidebar table td .upload {
	display: inline-block;
	cursor: pointer;
}
.right-sidebar table td .upload img {
	margin: 5px;
	width: 100px;
	height: 100px;
}
.tem-tab>li {
	margin-right: 5px;
	padding: 0 5px;
	box-sizing: border-box;
	line-height: 24px;
	cursor: pointer;
	color:#666;
}
.tem-tab li.on {
	border: 1px solid #00b5b8;
	color: #00b5b8;
}
/*中间头部*/

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb > li a {
    color: #333;
}
.breadcrumb > li a.hui {
    color: #999;
}
/*中间内容*/
.center-content {
	padding: 20px 25px;
	background-color: #fff;
}
.my-template-list ul li {
	margin: 20px 25px;
	border: 1px solid #DFDFDF;
	border-radius: 6px;
}
.my-template-list ul li:hover {
	border-color: #00b5b8;
}
	.my-template-list>ul li{
		/*width:25%;
		height:260px;*/
	}
.my-template-list ul li .img_wrap {
	/*width: 350px;*/
	height: 360px;
	/*line-height: 350px;*/
	width:100%;
	overflow: hidden;
	cursor: pointer;
	/*vertical-align: middle;*/
	/*text-align: center;*/
}
.my-template-list ul li .img_wrap img {
	display: inline-block;
}
.edit-item {
	width:100%;
	padding: 6px;
	line-height: 35px;
	font-size: 16px;
	color: #444444;
}
.edit-item a {
	margin: 0 10px;
	display: inline-block;
	font-size: 16px;
	color: #444444;
}
.my-template-list>ul li{
	    max-width: 20%;
	padding-right:0px;
	padding-left:0px;
	
}
.mb-sideFooter{
	margin: 0 auto;
	text-align: center;
}
.mb-sideBox{
	display: inline-block;
	margin-bottom: 5%;
	width: 55%;
	text-align: center;
	border: 1px solid #9b9b9b;
	padding: 7px 10px;
	cursor: pointer;
}
.mb-sideBoxSv{
	border:1px solid transparent;
	background-color:#00b5b8;
	color:#fff;
}
.mb-sideBoxSv:hover{
	background-color:#4DCBCD;
	animation: all ease .2s;
}
.mb-sideBoxAg{
	border:1px solid #9b9b9b;
}
.mb-sideBoxAg:hover{
	border:1px solid #00b5b8;
	color:#00b5b8;
	animation: all ease .2s;
}
.btn-box{
	margin-bottom:0;
}
.btn-box tr td:not(:first-child){
 	text-align: center;
}
.pull-left{
	float: none;
}
#formTimeLine tr td:first-child{
	width:25%;
}
.my-template-list .del ,.edit{
	cursor: pointer;
}