body {
    background-color: #f0f2f5;
}
/*中间头部*/
.use-dedfindTop {
    background-color: #fff;
    padding: 0px 30px;
    margin-bottom: 28px;
    height: 70px;
    line-height: 70px;
    position: relative;
}
.breadcrumb {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb>li {
    display: inline-block;
}

.breadcrumb > li a.hui {
    color: #999;
}
.nav-all {
    width: 594px;
    height: 100%;
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    margin-left: -297px;
    margin-top: -35px;
}
.nav-all li {
    margin: 0 30px;
    padding: 10px 5px;
    display: inline-block;
    font-family:MicrosoftYaHei;
    font-weight:400;
    font-size: 16px;
    color: #515151;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.nav-all li.on {
    color: #5DADFF;
    border-bottom: 3px solid #5DADFF;
}
.create-btn {
    margin-top: 12px;
    display: inline-block;
    width: 160px;
    height: 46px;
    line-height: 46px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: #fff;
    background-color: #5DADFF;
    text-align: center;
    cursor: pointer;
}
.create-btn i {
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../../../img/img/jia.png) no-repeat;
    background-size: cover;
    vertical-align: middle;
}
/*中间内容*/
.center-content {
    background-color: #fff;
}
.my-theme-list .row {
    margin: 0;
    padding: 0 20px;
}
.my-theme h3  {
    margin: 0 35px;
    line-height: 50px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: #4A4A4A;
    border-bottom: 1px solid #E6E6E6;
}
.my-theme-list .theme-box p {
    font-size: 1.1rem;
    color: #979797;
}
.my-theme-list .theme-box .theme-box-left {
    padding-top: 15px;
    padding-right: 15px;
    text-align: center;
}
.my-theme-list .theme-box .theme-box-left p {
    line-height: 40px;
    text-align: center;
}
.my-theme-list .theme-box .theme-box-right p {
    line-height: 28px;
}
.my-theme-list .theme-box .edit-item  a {
    color: #C4C4C4;
}

.my-theme-list .theme-box:hover .edit-item  a {
    color: #5DADFF;
}
@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 23%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 23%;
        flex: 0 0 23%;
        max-width: 23%;
    }
}